
body{
    margin:0;
}
header{
    text-align: center;
    position: absolute;
    height:250px;
    background-color: #E5E5E5;
    align-content: center;
}
.logo{
    position: absolute;
    width: 100px;
    height: 146.37px;
    left: 670px;
    top: 20.91px;
}

h1{
position: absolute;
width: 1013px;
height: 29.87px;
left: 213px;
top: 202.13px;

font-family: Times New Roman;
font-style: normal;
font-weight: bold;
font-size: 35px;
line-height: 84.69%;
font-feature-settings: 'cpsp' on;
color: #005677;
    
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #005677;
    background-color: #C4C4C4;
}
#bruce-info{
    background: white;
    height: 800px;
    padding-top: 100px;
}
h2.datos{
    letter-spacing: 5px;
    height: 30px;
    font: 30px;

}
li{
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    line-height: 35px;
}
section{
    height: 150px;
}




#center_footer{
    text-align: center;
    width: 200px;
    height: auto;
    padding-top: 10px;
    margin:auto;

}





/*text-align: center;
    width: 1013px;
    left: 213px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    text-transform: uppercase;
    font-size:35px;
    height:60px;
    line-height: 29.64px;
    letter-spacing: 10px;
    padding-top: 11px;
    background-color: #C4C4C4;+\